#topbar {
	background-color: #d9ff66;
	height: 70px;
	position: fixed;
	width: 105%;
	/*float:  left;*/
	margin: 0;
	top: 0;
	margin-left: -50px;
}

#topbar div {
	float: right;
	height: 93%;
	display: inline-block;
	width: 19%;
	margin: 1px;
	text-align: center;
	text-decoration: none;
}
#topBar div div {
	display: inline-block;
	height: 100%;
	background-color: #9099A2;
	text-align: center;
	width: 70%;
	/*border: 1px solid black;*/
	margin-left: 15% ;
}

#logo{
	height: 60px;
	padding-top: 5px;
	display: inline-block;
	/*background-color: green;*/
	border: 1px solid black;
}
h1{
	color: #99cc00;
}

#body{
	
}

#data{
	margin-top: 100px;
}

#topright{
	float: right;
	height: 500px;
	width: 50%
}

#topleft{
	width: 49%;
	float: left;
	height: 500px;
}

#right{
	float: right;
	height: 400px;
	width: 66%
}

#left{
	width: 33%;
	float: left;
	height: 400px;
}
#left img{
	height: 400px;
}

.bodysection{
	/*background-color: purple;*/
}

#footer{
	/*margin-top: 410px;*/
	background-color: #d9ff66;
	width: 100%;
	bottom:0;
	height: 30px;
	text-align: right;
}
